# The Intern Academy Data Science Monsoon Internship
## Team Name: Code Eclipse
Team Members:<br>
1.Tejas Vaity

2.Tushar Amdoskar

3.Pooja Sharma

## TASK 3: Problem Statement:

In today’s world banking is also a platform which is almost automated. However many people face different issues during online banking and also many are not aware of correct safety measure for their accounts. To create a bot using Natural Language Processing and deep learning which will be able to give answers for various banking related issues like your bank id, transaction details, Security services, loan policies, your account status etc.

Here the objectives are:-

To create a bot mobile app which can give answers to all your banking related queries.

Keep you updated with your transaction activity so any kind fraud can be avoided.

Also give you alert signs if find any suspicious activity in your account.

In [2]:
# Importing the required libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# To ignore the warnings
import warnings as wg
wg.filterwarnings("ignore")

print('Import Successfully')

Import Successfully

In [3]:
from google.colab import drive

In [4]:
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
data = pd.read_csv('/content/drive/MyDrive/BankFAQs.csv')

In [6]:
data.head()

                                            Question  ...     Class
0  Do I need to enter ‘#’ after keying in my Card...  ...  security
1  What details are required when I want to perfo...  ...  security
2  How should I get the IVR Password  if I hold a...  ...  security
3  How do I register my Mobile number for IVR Pas...  ...  security
4                  How can I obtain an IVR Password   ...  security

[5 rows x 3 columns]

In [7]:
data.tail()

                                               Question  ...  Class
1759  What if I forget my Prepaid NetBanking login P...  ...  cards
1760  What is the maximum value for which the Card c...  ...  cards
1761  What options should I choose to withdraw cash ...  ...  cards
1762  What should I do and whom to contact if my car...  ...  cards
1763             Are there extra charges to be aware of  ...  cards

[5 rows x 3 columns]

In [8]:
data.shape

(1764, 3)

In [9]:
data.dtypes

Question    object
Answer      object
Class       object
dtype: object

In [10]:
data.isnull().sum()

Question    0
Answer      0
Class       0
dtype: int64

In [11]:
data.describe()

                                                 Question  ...      Class
count                                                1764  ...       1764
unique                                               1334  ...          7
top     How can I change the mode of repayment/ accoun...  ...  insurance
freq                                                   18  ...        469

[4 rows x 3 columns]

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1764 entries, 0 to 1763
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Question  1764 non-null   object
 1   Answer    1764 non-null   object
 2   Class     1764 non-null   object
dtypes: object(3)
memory usage: 41.5+ KB

In [13]:
data.corr()

Empty DataFrame
Columns: []
Index: []

In [14]:

def print_unique_col_values(data):
       for column in data:
            if data[column].dtypes=='object':
                print(f'{column}: {data[column].unique()}')

In [15]:
print_unique_col_values(data)

Question: ['Do I need to enter ‘#’ after keying in my Card number/ Card expiry date/ CVV number'
 'What details are required when I want to perform a secure IVR transaction'
 'How should I get the IVR Password  if I hold an add-on card' ...
 'What if I Already Earn Rewards with My Card'
 'What if I forget my Prepaid NetBanking login Password'
 'What should I do and whom to contact if my card is lost']
Answer: ['Please listen to the recorded message and follow the instructions while entering your card details.'
 'To perform a secure IVR transaction, you will need your 16-digit Card number, Card expiry date, CVV number, mobile number and IVR password.'
 'An IVR password can be requested only from the registered mobile number and will be sent to the registered mobile number / email ID of the primary card holder only.'
 ...
 'There is no limit imposed on the usage of Regalia ForexPlus Card. You can withdraw/utilise any amount, upto the value loaded on Regalia ForexPlus Card at any ATM/POS. However, there are some ATMs service providers which have put in per day / per transaction limit towards cash dispense which cannot be changed by the Bank. In such cases the cardholder might need to do multiple transactions if he wants to withdraw any amount higher than that allowed in one transaction.'
 'Generally, the options available at the ATM for cash withdrawal are Checking, Credit, and Savings. You should choose the Checking/Current option. In case the Checking /Current option is not available, you should select the Credit option.'
 'In case your card gets lost or stolen, all you have to do is call HDFC Bank Phone Banking immediately and report the loss of your card. This facility is available 24 hrs on all days. The card can also be hotlisted using our Prepaid card NetBanking facility on www.hdfcbank.com']
Class: ['security' 'loans' 'accounts' 'insurance' 'investments' 'fundstransfer'
 'cards']

In [16]:
import pickle
import operator
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split as tts
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder as LE
from sklearn.metrics.pairwise import cosine_similarity
import random
import nltk
from nltk.stem.lancaster import LancasterStemmer

In [17]:
stemmer = LancasterStemmer()

In [18]:
def cleanup(sentence):
    word_tok = nltk.word_tokenize(sentence)
    stemmed_words = [stemmer.stem(w) for w in word_tok]

    return ' '.join(stemmed_words)

In [19]:
le = LE()

In [20]:
tfv = TfidfVectorizer(min_df=1, stop_words='english')

In [21]:

questions = data['Question'].values

In [22]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [23]:
X = []
for question in questions:
    X.append(cleanup(question))

In [24]:
tfv.fit(X)
le.fit(data['Class'])

LabelEncoder()

In [25]:
X = tfv.transform(X)
y = le.transform(data['Class'])

In [26]:
trainx, testx, trainy, testy = tts(X, y, test_size=.25, random_state=42)

In [38]:

model = SVC(kernel='linear')
model.fit(trainx, trainy)
print("SVC:", model.score(testx, testy))

SVC: 0.927437641723356

In [39]:
def get_max5(arr):
    ixarr = []
    for ix, el in enumerate(arr):
        ixarr.append((el, ix))
    ixarr.sort()

    ixs = []
    for i in ixarr[-5:]:
        ixs.append(i[1])

    return ixs[::-1]

In [40]:
def chat():
    cnt = 0
    print("PRESS Q to QUIT")
    print("TYPE \"DEBUG\" to Display Debugging statements.")
    print("TYPE \"STOP\" to Stop Debugging statements.")
    print("TYPE \"TOP5\" to Display 5 most relevent results")
    print("TYPE \"CONF\" to Display the most confident result")
    print()
    print()
    DEBUG = False
    TOP5 = False

    print("Bot: Hi, Welcome to our bank!")
    while True:
        usr = input("You: ")

        if usr.lower() == 'yes':
            print("Bot: Yes!")
            continue

        if usr.lower() == 'no':
            print("Bot: No?")
            continue

        if usr == 'DEBUG':
            DEBUG = True
            print("Debugging mode on")
            continue
            
        if usr == 'STOP':
            DEBUG = False
            print("Debugging mode off")
            continue

        if usr == 'Q':
            print("Bot: It was good to be of help.")
            break

        if usr == 'TOP5':
            TOP5 = True
            print("Will display 5 most relevent results now")
            continue

        if usr == 'CONF':
            TOP5 = False
            print("Only the most relevent result will be displayed")
            continue

        t_usr = tfv.transform([cleanup(usr.strip().lower())])
        class_ = le.inverse_transform(model.predict(t_usr)[0])
        questionset = data[data['Class']==class_]
        
        if DEBUG:
            print("Question classified under category:", class_)
            print("{} Questions belong to this class".format(len(questionset)))

        cos_sims = []
        for question in questionset['Question']:
            sims = cosine_similarity(tfv.transform([question]), t_usr)
            cos_sims.append(sims)
            
        ind = cos_sims.index(max(cos_sims))

        if DEBUG:
            question = questionset["Question"][questionset.index[ind]]
            print("Assuming you asked: {}".format(question))

        if not TOP5:
            print("Bot:", data['Answer'][questionset.index[ind]])
        else:
            inds = get_max5(cos_sims)
            for ix in inds:
                print("Question: "+data['Question'][questionset.index[ix]])
                print("Answer: "+data['Answer'][questionset.index[ix]])
                print('-'*50)

        print("\n"*2)
        outcome = input("Was this answer helpful? Yes/No: ").lower().strip()
        if outcome == 'yes':
            cnt = 0
        elif outcome == 'no':
            inds = get_max5(cos_sims)
            sugg_choice = input("Bot: Do you want me to suggest you questions ? Yes/No: ").lower()
            if sugg_choice == 'yes':
                q_cnt = 1
                for ix in inds:
                    print(q_cnt,"Question: "+data['Question'][questionset.index[ix]])
                    # print("Answer: "+data['Answer'][questionset.index[ix]])
                    print('-'*50)
                    q_cnt += 1
                num = int(input("Please enter the question number you find most relevant: "))
                print("Bot: ", data['Answer'][questionset.index[inds[num-1]]])


chat()

PRESS Q to QUIT
TYPE "DEBUG" to Display Debugging statements.
TYPE "STOP" to Stop Debugging statements.
TYPE "TOP5" to Display 5 most relevent results
TYPE "CONF" to Display the most confident result


Bot: Hi, Welcome to our bank!
You: Q
Bot: It was good to be of help.